{%extends 'base.html'%}
{%block content%}
{%load static%}

<div class="move-text">
    <div class="breaking_news">
        <h2>Breaking News</h2>
    </div>
    <div class="marquee">
        {%for post in post_approval|slice:":1"%}
        <div class="marquee1"><a class="breaking" href="single.html">{{post.title}}</a></div>
        <div class="clearfix"></div>
        {%endfor%}
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript" src="{%static 'js/jquery.marquee.js' %}"></script>
    <script>
				  $('.marquee').marquee({ pauseOnHover: true });
				  //@ sourceURL=pen.js
				</script>
</div>

<div class="video-grids">
    <div class="col-md-8 video-grids-left">
        {%for a in post_approval%}
            {%if forloop.counter == 1%}
                <div class="video-grids-left1">
                {% if a.header_image%}
                    <a href="{% url 'news_detail' a.pk %}"><img src="{{a.header_image.url}}" class="img-responsive" /></a>
                {% endif %}

                <div class="video-grid-pos">
                    <a href="{% url 'news_detail' a.pk %}"> <h3>{{a.title}}</h3></a>
                    <ul>
                        <li>{{a.news_date}} <label>|</label></li>
                        <li><i>{{a.author}}</i> <label>|</label></li>
                        <li><span>{{a.category}}</span></li>
                    </ul>
                </div>
                <!-- pop-up-box -->
                <script type="text/javascript" src="{%static 'js/modernizr.custom.min.js'%}"></script>
                <link href="{%static 'css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all"/>
                <script src="{%static 'js/jquery.magnific-popup.js'%}" type="text/javascript"></script>
                <!--//pop-up-box -->
                <div id="small-dialog" class="mfp-hide">
                    <iframe src="https://player.vimeo.com/video/145787219" width="500" height="281" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <script>
                                                    $(document).ready(function() {
                                                    $('.popup-with-zoom-anim').magnificPopup({
                                                        type: 'inline',
                                                        fixedContentPos: false,
                                                        fixedBgPos: true,
                                                        overflowY: 'auto',
                                                        closeBtnInside: true,
                                                        preloader: false,
                                                        midClick: true,
                                                        removalDelay: 300,
                                                        mainClass: 'my-mfp-zoom-in'
                                                    });

                                                    });

                </script>
            </div>
            {%endif%}
        {%endfor%}
                {{a.title}}
                <div class="video-grids-left2">
                <div class="course_demo1">
                    <ul id="flexiselDemo1">
                        {%for a in post_approval%}
                        {%if forloop.counter != 1%}
                        <li>
                            <div class="item">
                                {% if a.header_image%}
                                <a href="{% url 'news_detail' a.pk %}"> <img src="{{a.header_image.url}}" class="img-responsive"></a>
                                {%else%}
                                <img src="{%static 'images/1.jpg'%}" class="img-responsive">
                                {% endif %}
<!--                                <a class="play-icon popup-with-zoom-anim" href="#small-dialog">-->
<!--                                    <i> </i>-->
<!--                                </a>-->
<!--                                <div id="small-dialog" class="mfp-hide">-->
<!--                                    <iframe src="https://player.vimeo.com/video/145787219" width="500" height="281"-->
<!--                                            frameborder="0" webkitallowfullscreen mozallowfullscreen-->
<!--                                            allowfullscreen></iframe>-->
<!--                                </div>-->
                                <div class="floods-text">
                                    <h3><a href="{% url 'news_detail' a.pk %}">{{a.title}}</a><span>{{a.category}} <label>|</label> <i>{{a.author}}</i></span></h3>
                                    <p>{{a.news_date}}</p>
                                </div>
                            </div>
                        </li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                <!-- pop-up-box -->

            </div>

        <script type="text/javascript" src="{%static 'js/modernizr.custom.min.js'%}"></script>
        <link href="{%static 'css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all"/>
        <script src="{%static 'js/jquery.magnific-popup.js'%}" type="text/javascript"></script>
        <!--//pop-up-box -->
        <script>
                                                                $(document).ready(function() {
                                                                $('.popup-with-zoom-anim').magnificPopup({
                                                                    type: 'inline',
                                                                    fixedContentPos: false,
                                                                    fixedBgPos: true,
                                                                    overflowY: 'auto',
                                                                    closeBtnInside: true,
                                                                    preloader: false,
                                                                    midClick: true,
                                                                    removalDelay: 300,
                                                                    mainClass: 'my-mfp-zoom-in'
                                                                });

                                                                });

                </script>
        <!-- requried-jsfiles-for owl -->
        <script type="text/javascript">
                                             $(window).load(function() {
                                                $("#flexiselDemo1").flexisel({
                                                    visibleItems: 3,
                                                    animationSpeed: 1000,
                                                    autoPlay: true,
                                                    autoPlaySpeed: 3000,
                                                    pauseOnHover: true,
                                                    enableResponsiveBreakpoints: true,
                                                    responsiveBreakpoints: {
                                                        portrait: {
                                                            changePoint:480,
                                                            visibleItems: 1
                                                        },
                                                        landscape: {
                                                            changePoint:640,
                                                            visibleItems: 2
                                                        },
                                                        tablet: {
                                                            changePoint:768,
                                                            visibleItems: 3
                                                        }
                                                    }
                                                });

                                             });

                </script>
        <script type="text/javascript" src="{%static 'js/jquery.flexisel.js' %}"></script>
    </div>




    <div class="col-md-4 video-grids-right">
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item grid1" aria-controls="tab_item-0" role="tab"><span>Tin mới</span></li>
                    <li class="resp-tab-item grid2" aria-controls="tab_item-1" role="tab"><span>Đọc nhiều</span></li>
                    <div class="clear"></div>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        {%for tinmoi in post_approval|slice:":5"%}
                        <div class="facts">

                            <div class="tab_list">
                                {% if tinmoi.header_image%}
                                <img src="{{tinmoi.header_image.url}}" class="img-responsive">
                                {%else%}
                                <img src="{%static 'images/1.jpg'%}" class="img-responsive">
                                {% endif %}


                            </div>
                            <div class="tab_list1">
                                <ul>
                                    <li><a href="#">{{tinmoi.category}}</a> <label>|</label></li>
                                    <li>{{tinmoi.news_date}}</li>
                                </ul>
                                <p><a href="{% url 'news_detail' tinmoi.pk %}">{{tinmoi.title}}</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                        {%for mv in most_view|slice:":5"%}
                            <div class="facts">
                                <div class="tab_list">
                                 {% if mv.header_image%}
                                <img src="{{mv.header_image.url}}" class="img-responsive">
                                {%else%}
                                <img src="{%static 'images/1.jpg'%}" class="img-responsive">
                                {% endif %}
                                </div>

                                <div class="tab_list1">
                                    <ul>
                                        <li><a href="#">{{mv.category}}</a> <label>|</label></li>
                                        <li>{{mv.news_date}}</li>
                                    </ul>
                                    <p><a href="{% url 'news_detail' mv.pk %}">{{mv.title}}</a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        {%endfor%}


                    </div>
                </div>
                <script src="{%static 'js/easyResponsiveTabs.js'%}" type="text/javascript"></script>
                <script type="text/javascript">
									$(document).ready(function () {
										$('#horizontalTab').easyResponsiveTabs({
											type: 'default', //Types: default, vertical, accordion
											width: 'auto', //auto or any width like 600px
											fit: true   // 100% fit in a container
										});
									});

                </script>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--PHẦN BÊN NGOÀI , API-->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a class="high" href="#home" aria-controls="home" role="tab"
                                              data-toggle="tab">Thời tiết</a></li>
<!--    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tiền tệ</a></li>-->
    <li role="presentation"><a href="#tygia" aria-controls="tygia" role="tab" data-toggle="tab">Tiền tệ</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active london" id="home">
        <ul>
            <li>
                <h4>Today</h4>
                <img src="http://openweathermap.org/img/w/{{thoitiet.icon}}.png">
                <p>{{thoitiet.temperature}}<sup>°C</sup></p>
                <p>{{thoitiet.description}}</p>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
<!--    <div role="tabpanel" class="tab-pane" id="profile">-->
<!--        <div  >-->
<!--            <div class="column" style="background-color:#aaa;text-align: center">-->
<!--                <h2>USD</h2>-->
<!--                <p>1</p>-->
<!--            </div>-->
<!--            <div class="column" style="background-color:#bbb;text-align: center">-->
<!--                <h2>VNĐ</h2>-->
<!--                <p>{{tiente.conversion_rates}}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div role="tabpanel" class="tab-pane" id="tygia">
        <div  style=" background-color: white;
  width: 100%;
  height: 300px;
  overflow-y: auto;">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Ngoại tệ</th>
                    <th scope="col">Mua TM</th>
                    <th scope="col">Mua CK</th>
                    <th scope="col">Bán </th>

                </tr>
                </thead>
                <tbody>
                {%for name, buy, transfer, sell in tygia%}
                    <tr>
                        <th scope="row">{{name}}</th>
                        <td>{{buy}}</td>
                        <td>{{transfer}}</td>
                        <td>{{sell}}</td>

                    </tr>
                {%endfor%}


                </tbody>
            </table>
        </div>
    </div>


</div>
<br>
<br>
<!--PHẦN BÊN NGOÀI , API-->

<!--TIN TỨC THEO THỂ LOẠI-->
<div style="font-size:50px; color:red; text-align: center;">TIN TỨC THEO THỂ LOẠI</div>
<div class="video-bottom-grids" style="margin-top:50px">
    <div class="video-bottom-grids1">
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before">
                    <img src="{%static 'images/game.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>
                </div>
                <ul class="list">
                    {%for game in news_game|slice:":4" %}
                    <li><a href="{% url 'news_detail' game.pk %}">{{game.title}}</a>

                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == game.author.id%}
                        - <a href="{%url 'update_news' game.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' game.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}


                    </li>
                    {%endfor%}

                </ul>
                <div class="read-more">
                    <a href="{%url 'category' 7  %}">Đọc thêm tại GAME</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before1">
                    <img src="{%static 'images/thethao.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list">
                    {%for thethao in news_thethao|slice:":4" %}
                    <li><a href="{% url 'news_detail' thethao.pk %}">{{thethao.title}}</a>

                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == thethao.author.id%}
                        - <a href="{%url 'update_news' thethao.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' thethao.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}


                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res">
                    <a href="{%url 'category' 2  %}">Đọc thêm tại THỂ THAO</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before2">
                    <img src="{%static 'images/congnghe.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list1">
                    {%for congnghe in news_congnghe|slice:":4" %}
                    <li><a href="{% url 'news_detail' congnghe.pk %}">{{congnghe.title}}</a>

                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == congnghe.author.id%}
                        - <a href="{%url 'update_news' congnghe.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' congnghe.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}


                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res1">
                    <a href="{%url 'category' 4 %}">Đọc thêm tại Công Nghệ</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before3">
                    <img src="{%static 'images/giaoduc.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list2">
                    {%for giaoduc in news_giaoduc|slice:":4" %}
                    <li><a href="{% url 'news_detail' giaoduc.pk %}">{{giaoduc.title}}</a>


                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == giaoduc.author.id%}
                        - <a href="{%url 'update_news' giaoduc.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' giaoduc.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}

                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res2">
                    <a href="single.html">Đọc thêm tại giáo dục</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="video-bottom-grids1">
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before4">
                    <img src="{%static 'images/amnhac.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list2">
                    {%for amnhac in news_amnhac|slice:":4" %}
                    <li><a href="{% url 'news_detail' amnhac.pk %}">{{amnhac.title}}</a>

                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == amnhac.author.id%}
                        - <a href="{%url 'update_news' amnhac.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' amnhac.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}

                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res3">
                    <a href="single.html">Đọc nhiều hơn tại ÂM NHẠC</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before5">
                    <img src="{%static 'images/gioitre.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list4">
                    {%for gioitre in news_gioitre|slice:":4" %}
                    <li><a href="{% url 'news_detail' gioitre.pk %}">{{gioitre.title}}</a>

                        {% if user.is_authenticated%}
                        {% ifequal user.groups.all.0.name "PostMan" %}
                        {% if user.id == gioitre.author.id%}
                        - <a href="{%url 'update_news' gioitre.pk %}" style="color:red" >Sửa</a>
                        - <a href="{%url 'delete_news' gioitre.pk %}"style="color:red">Xóa</a>
                        {%endif%}
                        {%endifequal%}
                        {% endif %}

                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res4">
                    <a href="single.html">Đọc thêm tại giới trẻ</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before6">
                    <img src="{%static 'images/thegioi.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>

                </div>
                <ul class="list5">
                    <ul class="list4">
                        {%for thoisu in news_thoisu|slice:":4" %}
                        <li><a href="{% url 'news_detail' thoisu.pk %}">{{thoisu.title}}</a>

                            {% if user.is_authenticated%}
                            {% ifequal user.groups.all.0.name "PostMan" %}
                            {% if user.id == thoisu.author.id%}
                            - <a href="{%url 'update_news' thoisu.pk %}" style="color:red" >Sửa</a>
                            - <a href="{%url 'delete_news' thoisu.pk %}"style="color:red">Xóa</a>
                            {%endif%}
                            {%endifequal%}
                            {% endif %}

                        </li>
                        {%endfor%}
                    </ul>
                </ul>
                <div class="read-more res5">
                    <a href="single.html">Đọc thêm tại THỜI SỰ</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 video-bottom-grid">
            <div class="video-bottom-grid1">
                <div class="video-bottom-grid1-before before7">
                    <img src="{%static 'images/kinhte.png' %}" style="width:255px; height:200px" alt=" "
                         class="img-responsive"/>
                </div>

                <ul class="list6">
                    {%for kinhte in news_kinhte|slice:":4" %}
                    <li>
                        <a href="{% url 'news_detail' kinhte.pk %}">{{kinhte.title}} </a>
                        {% if user.is_authenticated%}
                            {% ifequal user.groups.all.0.name "PostMan" %}
                                {% if user.id == kinhte.author.id%}
                                    - <a href="{%url 'update_news' kinhte.pk %}" style="color:red" >Sửa</a>
                                    - <a href="{%url 'delete_news' kinhte.pk %}"style="color:red">Xóa</a>
                                {%endif%}
                            {%endifequal%}
                        {% endif %}

                    </li>
                    {%endfor%}
                </ul>
                <div class="read-more res6">
                    <a href="single.html">Đọc nhiều hơn tại KINH TẾ</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div style="font-size:50px; color:red; text-align: center; padding:50px">COVID-19</div>


<ul style="list-style-type: none;margin-left:60px">
    {%for articlesurl, title,published_datetime,image_url in covid19api%}
    <li style="height: 220px;margin-right: 15px !important;margin-bottom: 100px;float: left;width: 188px;">

        <a href="{{articlesurl}}"><img src="{{image_url}}" width="196px" height="188px"/></a>
        <a style="margin-top:5px" href="{{articlesurl}}">{{title}}</a>
    </li>
    {%endfor%}
    <br>
</ul>

<br>

<!--    {%for articlesurl, title,published_datetime,image_url in covid19api%}-->
<!--        <li><a href="{{articlesurl}}">{{title}}</a></li>-->
<!--        <li><img src="{{image_url}}" width="100px" height="100px"/></li>-->
<!--    {%endfor%}-->




<!--<ul>-->
<!--    <li>OBJECT</li>-->
<!--    <li>{{thoitiet}}</li>-->

<!--    <li>{{thoitiet.temperature}}</li>-->
<!--    <li>{{thoitiet.city}}</li>-->
<!--    <li>{{thoitiet.description}}</li>-->
<!--    <li>{{thoitiet.icon}}</li>-->

<!--    <li>{{tiente.unit}}</li>-->
<!--    <li>{{tiente.conversion_rates}}</li>-->


<!--    {%for articlesurl, title,published_datetime,image_url in covid19api  %}-->
<!--    <li><a href="{{articlesurl}}">{{title}}</a></li>-->
<!--    <li><img src="{{image_url}}" width="100px" height="100px"/></li>-->
<!--    {%endfor%}-->

<!--</ul>-->

<!--<ul class="nav nav-tabs" role="tablist">-->
<!--    <li role="presentation" class="active"><a class="high" href="#home" aria-controls="home" role="tab"-->
<!--                                              data-toggle="tab">weather in {{thoitiet.city}}</a></li>-->
<!--    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">edit location</a>-->
<!--    </li>-->
<!--</ul>-->


<!--<div class="tab-content">-->
<!--    <div role="tabpanel" class="tab-pane active london" id="home">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <h4>Today</h4>-->
<!--                <img src="http://openweathermap.org/img/w/{{thoitiet.icon}}.png">-->
<!--                <p>{{thoitiet.temperature}}<sup>°F</sup></p>-->
<!--                <p>{{thoitiet.description}}</p>-->
<!--            </li>-->
<!--            <div class="clearfix"></div>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div role="tabpanel" class="tab-pane" id="profile">-->
<!--        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359652.109742895!2d-113.72446020222534!3d36.24602872499641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1450786850582"-->
<!--                frameborder="0" style="border:0" allowfullscreen></iframe>-->
<!--    </div>-->
<!--</div>-->


{%endblock%}