{%extends 'base_min.html'%}
{%block title%} EDIT BÁO {%endblock%}

{%block content%}

{% if user.is_authenticated%}
    {% ifequal user.groups.all.0.name "PostMan" %}
        {% if user.id == post.author.id%}
        <h1>EIDT BÀI BÁO </h1>
        <div class ="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!--    as_p ở đây tương đương sẽ tự động tạo ra các trường vô thẻ <p> -->
                <!--    nhưng như vật sẽ làm giao diện xấu đi vì kh thể custom thoe ý muốn vì thế t cần tạo 1 file FORM.PY để tùy biến-->
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Sửa</button>
            </form>
        </div>
        {%else%}
            <h1><strong>BẠN KHÔNG CÓ QUYỀN ZÔ ĐÂY CÚT</strong></h1>
        {%endif%}
    {%else%}
        <h1><strong>BẠN KHÔNG CÓ QUYỀN ZÔ ĐÂY CÚT</strong></h1>
    {%endifequal%}
{%else%}
<h1><strong>BẠN KHÔNG CÓ QUYỀN ZÔ ĐÂY CÚT</strong></h1>

{%endif%}
{%endblock%}